{% extends "../layouts/app.njk" %}

{% import '../../partials/inputs/text.njk' as inputText %}

{% block content %}
  <form action="/users/categories" method="POST">
    <input type="hidden" name="_csrf" value="{{ _csrf }}">
    {{ inputText.field('name', type='text', label="Category Name") }}
    <div class="flex flex-col">
      <div class="flex flex-row items-center">
        <input type="radio" name="type" id="outgoing" value="outgoing" class="mr-2" checked>
        <label for="outgoing">Outgoing</label>
      </div>
      <div class="flex flex-row items-center">
        <input type="radio" name="type" id="income" value="income" class="mr-2">
        <label for="income">Income</label>
      </div>
    </div>
    {{ inputText.field('color', type='color', label="Color") }}
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 cursor-pointer px-4 py-2 text-white">Submit</button>
  </form>
{% endblock %}