{% extends "../layouts/app.njk" %}

{% import "../../partials/inputs/text.njk" as inputText %}

{% block content %}
  <meta name="csrf-token" content="{{ _csrf }}">

  <script src="/javascripts/injectColor.js"></script>
  <div x-data="{ show: false }" class="relative">
    <div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center z-10" :class="{ 'hidden': !show }" >
      <div class="fixed top-0 left-0 right-0 bottom-0 bg-gray-500 opacity-75 z-20" @click="show = false" ></div>
      <div class="bg-white p-8 flex flex-col z-20">
        <p>
          Do you really want to delete Category {{ category.name }}?
        </p>
        <div class="flex flex-row justify-end">
          <div class="px-4 py-2 text-green-500 hover:text-green-700 cursor-pointer" @click="show=false">Cancel</div>
          <div class="px-4 py-2 bg-red-500 hover:bg-red-700 cursor-pointer text-white" @click="confirmDelete(event)">Delete</div>
        </div>
      </div>
    </div>
    <form action="/users/categories/{{ category.id }}" method="POST">
      <input type="hidden" name="_csrf" value="{{ _csrf }}">
      <input type="hidden" name="_method" value="put">
      {{ inputText.field('name', value=category.name, type='text', label="Category Name") }}
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <input type="radio" name="type" id="outgoing" value="outgoing" class="mr-2" {%if category.income === false %} checked {%endif%} >
          <label for="outgoing">Outgoing</label>
        </div>
        <div class="flex flex-row items-center">
          <input type="radio" name="type" id="income" value="income" class="mr-2" {%if category.income %} checked {%endif%}>
          <label for="income">Income</label>
        </div>
      </div>
      {{ inputText.field('color', value=category.color, type='color', label="Color") }}
      <div class="flex justify-end">
        <button type="submit" @click.prevent="show = true" class="px-4 py-2 text-red-500 hover:text-red-700">Delete</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 cursor-pointer px-4 py-2 text-white">Submit</button>
      </div>
    </form>
    <form action="/users/categories/{{ category.id }}" method="POST" id="delete-form">
      <input type="hidden" name="_csrf" value="{{ _csrf }}">
      <input type="hidden" name="_method" value="delete"/>
    </form>
    <script>
      function confirmDelete(event) {
        const form = document.getElementById("delete-form")
        form.submit()
      }
    </script>

  </div>

  <script>
    function addSubcategory(event, uri) {
      const el = document.getElementById('newSubcategoryForm')
      const data = {
        name: el.elements.name.value
      };
      const token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute('content');
      fetch(uri, {
        credentials: 'same-origin',
        headers: {
          'CSRF-Token': token,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
        method: 'POST'
      })
        .then(response => response.json())
        .then(data => {
          const id = data.subcategory.id;
          const name = data.subcategory.name;
          const subcategories = document.getElementById('subcategories');
          const node = document.createElement('div')
          node
            .classList
            .add("border", "border-black", "my-1", "rounded", "p-1", "bg-indigo-50", "flex", "items-center", "justify-between")
          node.setAttribute('x-data', "{ show: false }")
          node.id = 'subcategory_' + id;

          node.innerHTML = `
            <div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center" :class="{ 'hidden': !show }" >
              <div class="fixed top-0 left-0 right-0 bottom-0 bg-gray-500 opacity-75 z-10" @click="show = false"></div>
              <div class="bg-white p-8 flex flex-col z-20">
                <p>
                  Do you really want to delete Subcategory ${name}?
                </p>
                <div class="flex flex-row justify-end">
                  <div class="px-4 py-2 text-green-500 hover:text-green-700 cursor-pointer" @click.stop="show = false">Cancel</div>
                  <div class="px-4 py-2 bg-red-500 hover:bg-red-700 cursor-pointer text-white" @click.stop="deleteSubcategory(subcategory_${id}, '/users/categories/{{ category.id }}/subcategories/${id}'); show = false">Delete</div>
                </div>
              </div>
            </div>
            <p class="px-4">
              ${name}
            </p>
            <div class="p-2 cursor-pointer hover:bg-indigo-100 rounded" @click="show = true">
              <img src="/icons/minus-circle-outline.svg" alt="Remove Subcategory ${name}" color="#CC0000" onload="injectSVG(event)" class="subcategory" id="subcategory_${id}_icon"/>
            </div>
          `

          subcategories.appendChild(node);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
  </script>
  <div class="flex justify-between mt-4 relative" x-data="{ show: false }">
    <div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center z-10" :class="{ 'hidden': !show }" >
      <div class="fixed top-0 left-0 right-0 bottom-0 bg-gray-500 opacity-75 z-20" @click="show = false" ></div>

      <div class="bg-white p-8 flex flex-col z-20">
        <form action="/users/categories/{{ category.id }}/subcategories" id="newSubcategoryForm">
          {{ inputText.field('name', type='text', label="Subcategory Name") }}
          <div class="flex flex-row justify-end">
            <div class="px-4 py-2 text-red-500 hover:text-red-700 cursor-pointer" @click="show = false">Cancel</div>
            <div class="px-4 py-2 bg-blue-500 hover:bg-blue-700 cursor-pointer text-white" @click.prevent.stop="addSubcategory(event, '/users/categories/{{ category.id }}/subcategories'); show = false">Submit</div>
          </div>
        </form>
      </div>
    </div>
    <h2 class="font-bold">Subcategories</h2>
    <div class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white cursor-pointer rounded" @click="show = true">New Subcategory</div>
  </div>

  <div class="flex flex-col relative" id="subcategories">
    <script>
      function deleteSubcategory(el, uri) {
        // TODO: INVESTIGATE WHY THE ELEMENT IS INJECTED HERE?!
        const token = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute('content');
        fetch(uri, {
          credentials: 'same-origin',
          headers: {
            'CSRF-Token': token
          },
          method: 'DELETE'
        })
          .then(res => {
            if (res.status === 200) {
              el.remove();
            }
          })
          .catch(err => console.error(err))
        }
    </script>
    {% for subcategory in category.subcategories %}
      <div class="border border-black my-1 rounded p-1 bg-indigo-50 flex items-center justify-between" x-data="{ show: false }" id="subcategory_{{ subcategory.id}}">
        <div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center" :class="{ 'hidden': !show }" >
          <div class="fixed top-0 left-0 right-0 bottom-0 bg-gray-500 opacity-75 z-10" @click="show = false"></div>
          <div class="bg-white p-8 flex flex-col z-20">
            <p>
              Do you really want to delete Subcategory {{ subcategory.name }}?
            </p>
            <div class="flex flex-row justify-end">
              <div class="px-4 py-2 text-green-500 hover:text-green-700 cursor-pointer" @click.stop="show = false">Cancel</div>
              <div class="px-4 py-2 bg-red-500 hover:bg-red-700 cursor-pointer text-white" @click.stop="deleteSubcategory(subcategory_{{ subcategory.id}}, '/users/categories/{{ category.id }}/subcategories/{{ subcategory.id }}'); show = false">Delete</div>
            </div>
          </div>
        </div>
        <p class="px-4">
          {{ subcategory.name }}
        </p>
        <div class="p-2 cursor-pointer hover:bg-indigo-100 rounded" @click="show = true">
          <img src="/icons/minus-circle-outline.svg" alt="Remove Subcategory {{ subcategory.name }}" color="#CC0000" onload="injectSVG(event)" class="subcategory" id="subcategory_{{ subcategory.id }}_icon"/>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}