{% extends "../layouts/app.njk" %}

{% block content %}
  {% for account in accounts %}
    <li>
      <!-- TODO: SHOW ICON COLOR -->
      {{ account.icon }}
      {{ account.name }}
    </li>
  {% endfor %}
{% endblock %}