{% extends "../layouts/app.njk" %}

{% block content %}
  {% for account in accounts %}
    <li>
      <img src="/icons/{{ account.icon }}.svg"/>
      {{ account.icon }}
      {{ account.name }}
    </li>
  {% endfor %}
{% endblock %}